.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header a {
  text-decoration: none;
  color: white;
  transition: color 0.3s linear;
}

.app-header a.active {
  color: lightgreen;
  transition: color 0.1s linear;
}

.app-header a:hover {
  color: aqua;
  transition: color 0.1s linear;
}
